.icon {
    display: -moz-inline-stack;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    background-image: url(/images/sprite-16px.png);
    background-repeat: no-repeat;
    cursor: pointer;
    height: 16px;
    vertical-align: middle;
    width: 16px
}

.icon-search {
    background-position: 0 -144px
}

.icon-toggle-gear {
    background-position: 0 -224px
}

.view-gallery {
    background-position: 0 -272px
}

.view-list {
    background-position: 0 -240px
}

.view-map {
    background-position: 0 -288px
}

.view-thumb {
    background-position: 0 -256px
}

.icon-locate {
    background-position: 0 -176px
}

.no-js .icon-locate, .no-localStorage .icon-locate {
    display: none
}

.icon-star {
    background-position: 0 -96px;
    margin-top: -4px
}

.no-js .icon-star, .no-localStorage .icon-star {
    display: none
}

.icon-star:hover, .icon-star.half {
    background-position: 0 -112px
}

.icon-star.fav {
    background-position: 0 -128px
}

.icon-trash {
    background-position: 0 -192px
}

.icon-trash:hover, .icon-trash.red {
    background-position: 0 -208px
}

.my-banished .icon-trash:hover, .my-banished .icon-trash.red {
    background-position: 0 -192px
}

.result-row .icon-trash.red:hover {
    background-position: 0 -192px
}

.no-js .icon-trash, .no-localStorage .icon-trash {
    display: none
}

.icon-search.light {
    background-position: 0 -160px
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .icon {
        background-image: url(/images/sprite-32px.png);
        background-size: 16px
    }
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

ul {
    list-style: none
}

blockquote, q {
    quotes: none
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

pre {
    font-family: monospace
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}

template {
    display: none
}

html.js .no-js, html.no-js .js-only, html.canvas .no-canvas, html.no-canvas .canvas-only, html.draggable .no-draggable, html.no-draggable .draggable-only, html.fileAPI .no-fileAPI, html.no-fileAPI .fileAPI-only, html.localStorage .no-localStorage, html.no-localStorage .localStorage, html.pushState .no-pushState, html.no-pushState .pushState, html.touchCapable .no-touchCapable, html.no-touchCapable .touchCapable-only {
    display: none
}

.search .no-js, .homepage .no-js, .posting .no-js {
    display: none !important
}

body.mobile .no-mobile, body .mobile-only {
    display: none
}

body.mobile .mobile-only {
    display: block;
    display: inherit
}

.hideme {
    display: none
}

.screen-reader-text {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden
}

html, body {
    height: 100%;
    position: relative
}

body {
    background: white;
    color: #222;
    font-family: "Arial", sans-serif
}

button, select, input, fieldset, form, label, legend {
    font-family: "Arial", sans-serif
}

img {
    border: 0
}

em {
    font-weight: bold;
    font-style: normal
}

strong, b, .strong {
    font-weight: bolder
}

big, .big {
    font-size: larger
}

small, .small {
    font-size: smaller
}

sup {
    font-size: .7em;
    line-height: normal;
    vertical-align: super
}

hr {
    color: #ccc;
    background: #ccc;
    height: 2px;
    border: 0
}

p {
    clear: none;
    margin: 1em 0
}

input.dv, textarea.dv {
    color: #aaa !important
}

ul.ul, ol.ol {
    padding-left: 40px;
    margin: 1em 0
}

ul.ul {
    list-style-type: disc
}

ol.ol {
    list-style-type: decimal
}

ul.ul li, ol.ol li {
    display: list-item;
    line-height: 1.3em;
    margin: 1em 0
}

.highlight, .error {
    background: #FFF;
    font-family: "Arial", sans-serif;
    padding: 5px
}

.error {
    border-color: #fbb
}

.linklike {
    color: #00e;
    cursor: pointer
}

.linklike:hover {
    text-decoration: underline
}

.to-banish-page {
    background-color: #ddd;
    border-radius: 3px;
    padding: 0 4px;
    display: inline-block
}

aside.highlight {
    margin: 8px auto
}

aside.warning {
    font-size: 80%
}

fieldset {
    background-color: #f7f7f7;
    border: 1px solid #ccc;
    padding: .35em .625em .75em;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px
}

legend {
    font-size: .95em;
    padding: 0 .333em
}

.flatinput {
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: 0;
    padding: 2px
}

.flatinput:hover {
    border-color: #999
}

.posterpicker {
    white-space: nowrap;
    line-height: 1.75em;
    background-color: #fff;
    padding: 1px 4px;
    background-color: #eee;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc
}

.ban {
    text-align: center;
    font-weight: bold;
    padding: 2px 5px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: #eee
}

.greytext {
    color: #777;
    font-size: small;
    font-weight: normal;
    font-family: "Times New Roman", Times, serif
}

.cl_emph {
    font-weight: bold;
    color: red
}

.page-container {
    *zoom: 1;
    min-height: 100%;
    position: relative;
    width: 100%
}

.page-container:before, .page-container:after {
    content: " ";
    display: table;
    visibility: hidden
}

.page-container:after {
    clear: both
}

.bglogo {
    display: none
}

.mobile .bglogo {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=@percent)";
    filter: alpha(opacity=25);
    opacity: .25;
    background-image: url(/images/cl_logo-vert.png);
    display: block;
    height: 100%;
    max-height: 544px;
    position: absolute;
    right: 0;
    top: 35px;
    width: 102px;
    z-index: -9999
}

section.body {
    padding: .5em 9px 6em 9px;
    margin: 0 auto;
    height: 90%;
    min-height: 600px
}

.mobile section.body {
    width: auto !important;
    min-height: 0
}

.post.mobile section.body {
    min-height: inherit;
    padding-bottom: 1em
}

.buttongroup {
    background-color: #FFF;
    height: 1.3em;
    line-height: 1.3em;
    border: 1px solid #e0e0e0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: -moz-inline-stack;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    overflow: hidden
}

.buttongroup .button {
    display: -moz-inline-stack;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    border-left: 1px solid #e0e0e0;
    padding: 0 7px;
    height: 100%
}

.buttongroup .button.sel {
    color: #FFF;
    background-color: #5252ff;
    cursor: text
}

.buttongroup .button.sel:hover {
    text-decoration: none
}

.buttongroup .button:first-child, .buttongroup .button.first {
    border-left: 0
}

.buttongroup a:visited {
    color: #00E
}

.toggle-arrow {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid blue;
    height: 0;
    width: 0
}

@media only screen and (min-width: 840px) {
    .post section.body {
        padding-top: 4.5em
    }
}

@media only screen and (max-width: 480px) {
    body .narrow {
        display: initial
    }

    body .narrow.global-header {
        display: block
    }

    body .wide {
        display: none
    }

    body.show-wide .wide, body.show-wide .narrow.show-wide {
        display: block;
        cursor: pointer
    }

    body.show-wide .wide li, body.show-wide .narrow.show-wide li {
        margin-top: 5px
    }

    .homepage .global-header.narrow {
        display: none
    }
}

body.show-wide .narrow, body.homepage.mobile .narrow, .narrow {
    display: none;
    cursor: pointer
}

.show-wide-header {
    margin-right: 8px;
    margin-top: -4px;
    font-weight: bold;
    float: right
}

.accountform {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #ccc;
    margin: 16px auto;
    max-width: 400px;
    padding: 8px
}

.accountform-banner {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #eee;
    border: 1px solid #E4E4E4;
    font-weight: bold;
    padding: 8px 5px;
    text-align: center
}

.accountform-field {
    margin: 10px 8px
}

.accountform-field label {
    display: block
}

.accountform-field input {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #ccc;
    display: block;
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
    padding: 4px;
    width: 97.5%
}

.accountform-actions {
    *zoom: 1;
    margin: 10px 8px 0px 8px
}

.accountform-actions:before, .accountform-actions:after {
    content: " ";
    display: table;
    visibility: hidden
}

.accountform-actions:after {
    clear: both
}

.accountform-helplink {
    display: -moz-inline-stack;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    float: left;
    font-size: 14px;
    margin-top: 6px
}

.accountform-helplink-tiny {
    display: -moz-inline-stack;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    float: right;
    font-size: 14px
}

.accountform-btn {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: linear-gradient(#eee, #DCDCDC);
    border: 1px solid #ccc;
    float: right;
    font-size: 14px;
    padding: 5px 6px
}

.accountform-btn:hover {
    background: linear-gradient(#DCDCDC, #B7B7B7)
}

.loginlink-btn {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: linear-gradient(#eee, #DCDCDC);
    border: 1px solid #ccc;
    font-size: 14px;
    float: left;
    padding: 5px 6px
}

.loginlink-btn:hover {
    background: linear-gradient(#DCDCDC, #B7B7B7)
}

.submit-onetime-link-button {
    background: none !important;
    color: inherit;
    border: none;
    padding: 0 !important;
    font: inherit;
    border-bottom: 1px solid #444;
    cursor: pointer
}

.login-page-boxes {
    margin: 0 auto
}

.login-page-boxes .alert {
    max-width: 400px;
    margin: 16px auto
}

.login-box {
    margin-top: 32px
}

.box-conjunction {
    text-align: center;
    font-style: italic;
    font-size: 16px
}

.password-reset-box {
    margin-top: 32px
}

.create-account-box {
    margin-top: 32px;
    max-width: 406px
}

.alert {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid transparent;
    padding: 8px;
    margin: 8px;
    text-align: center
}

.alert .alert-text-bold {
    font-weight: bold
}

.alert p {
    margin: 0
}

.alert p, .alert ul {
    margin-bottom: 0
}

.alert p + p, .alert p + ul, .alert ul li + li {
    margin-top: 4px
}

.alert .alert-list {
    text-align: left
}

.alert .alert-list ul {
    list-style: disc outside;
    padding-left: 16px
}

.alert.alert-sm {
    font-size: 14px;
    padding: 8px
}

.alert.alert-md {
    font-size: 16px;
    padding: 10px
}

.alert.alert-lg {
    font-size: 18px;
    padding: 12px
}

.alert-info {
    background-color: #e6f0fb;
    border-color: #d0e3f7;
    color: #1c64ac
}

.alert-info a {
    color: #1c64ac;
    font-weight: 600
}

.alert-info a:hover {
    color: #154a80
}

.alert-success {
    background-color: #e5f5df;
    border-color: #d5efcc;
    color: #115a13
}

.alert-success a {
    color: #115a13;
    font-weight: 600
}

.alert-success a:hover {
    color: #092f0a
}

.alert-warning {
    background-color: #ffefdd;
    border-color: #ffe3c3;
    color: #864400
}

.alert-warning a {
    color: #864400;
    font-weight: 600
}

.alert-warning a:hover {
    color: #532a00
}

.alert-error {
    background-color: #fdeded;
    border-color: #fad6d6;
    color: #bf1717
}

.alert-error a {
    color: #bf1717;
    font-weight: 600
}

.alert-error a:hover {
    color: #911212
}

.vote-banner {
    clear: both;
    color: #0066cc;
    margin: 0 0 21px;
    padding: 4px 0
}

.homepage .vote-banner a {
    color: #0066cc;
    text-decoration: underline
}

h2.vote-banner.mobile, .mobile h2.vote-banner.desktop {
    display: none
}

.mobile h2.vote-banner.mobile {
    display: block
}

.asciiart-container {
    margin: 0 auto;
    text-align: center
}

.asciiart-container pre {
    text-align: left;
    display: inline-block
}

.simple header {
    background: #eee;
    border-bottom: 1px #ccc solid;
    display: block;
    line-height: 1.925em;
    min-height: 1.1em;
    padding: 5px
}

.header-contents {
    padding-left: 6px;
    position: relative
}

.header-contents a {
    text-decoration: none
}

.mobile .header-contents {
    padding: 0 8px
}

.header-logo {
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em;
    background-color: #fff;
    border: 1px solid #ccc;
    float: left;
    line-height: 1;
    margin: 0 5px;
    padding: .25em;
    text-decoration: none
}

.global-header {
    *zoom: 1;
    border-bottom: 1px #ccc solid;
    background: #eee;
    height: 100%;
    line-height: 1.925em;
    min-height: 1.1em;
    padding: .3125em 0;
    width: 100%;
    z-index: 1003
}

.global-header:before, .global-header:after {
    content: " ";
    display: table;
    visibility: hidden
}

.global-header:after {
    clear: both
}

.bestof .global-header {
    height: auto
}

.posting .global-header {
    margin-bottom: 0
}

.search .global-header {
    position: static
}

.mobile footer {
    padding: 5px 0
}

#leftbar {
    background: #f4f4f4;
    border-left: 1px #ccc solid;
    border-right: 1px #ccc solid;
    float: left;
    min-width: 10em;
    font-size: smaller;
    margin: 0;
    min-height: 820px;
    text-align: center;
    width: 20%
}

#leftbar li, #leftbar a {
    padding: 2px 0
}

#leftbar a:hover {
    text-decoration: underline
}

#leftbar #sflinks {
    margin-top: 1em
}

#leftbar #sflinks a {
    padding: 0 5px;
    display: inline
}

#leftbar .cal {
    margin: 0 auto
}

.js .homepage #catAbb, .js .homepage #go {
    display: none
}

.js .homepage.mobile #go {
    display: -moz-inline-stack;
    display: inline-block;
    *display: inline;
    *zoom: 1
}

.post.mobile .body .posting header {
    display: none
}

table.four_pane_search {
    width: auto;
    height: auto
}

.results_pane {
    width: 100%;
    padding: 0px 15px 0px 15px
}

.breadcrumbs-container {
    float: left;
    font-size: .9375em;
    min-height: 1.3em;
    position: relative
}

.breadcrumbs-container ul, .breadcrumbs-container ol, .breadcrumbs-container h1 {
    margin: -3px 0 0;
    padding-left: 0;
    list-style: none outside none
}

.breadcrumbs-container em {
    font-weight: normal
}

.mobile .breadcrumbs-container em {
    display: none
}

.breadcrumbs-container p {
    margin: 0
}

.breadcrumbs-container .breadcrumbs {
    float: left
}

.breadcrumbs-container .breadcrumbs.hide-subareas .subarea {
    display: none
}

.breadcrumbs-container .breadcrumb-arrow {
    font-size: .95em
}

.search .breadcrumbs-container .breadcrumb-arrow {
    display: none
}

.breadcrumbs-container select {
    margin: 0
}

.breadcrumbs-container .breadcrumbs .crumb {
    height: 1.6em;
    float: none;
    margin-right: 5px
}

.breadcrumbs-container .breadcrumbs .crumb a {
    text-decoration: none
}

.breadcrumbs-container .clearfix {
    *zoom: 1
}

.breadcrumbs-container .clearfix:before, .breadcrumbs-container .clearfix:after {
    content: " ";
    display: table;
    visibility: hidden
}

.breadcrumbs-container .clearfix:after {
    clear: both
}

.fav .breadcrumbs-form .subarea {
    display: none
}

.fav .discards {
    display: none
}

.homepage .subarea .breadcrumb-arrow {
    display: none
}

.fav-label, .discards-label {
    display: none
}

.userlinks {
    float: right;
    font-size: .9em;
    margin-top: 2px;
    padding: 0;
    position: absolute;
    *position: static;
    right: 0
}

.userlinks a {
    text-decoration: none
}

.userlinks .user {
    float: left;
    line-height: 1.4em;
    padding-left: .4em;
    padding-right: .4em;
    text-align: center
}

.userlinks .user:first-child {
    padding-left: 0;
    padding-right: .5em
}

.userlinks .user.account {
    border-left: 1px solid #999
}

.user-favs-discards .userlinks .user {
    clear: left;
    float: right;
    margin-top: 5px
}

.homepage .user-favs-discards .userlinks .user {
    display: none
}

.userlinks .icon-star, .userlinks .icon-trash {
    margin-right: 3px
}

.mobile .userlinks {
    margin-right: 6%
}

.upper #ef {
    float: right;
    margin-left: 4px
}

.favorites {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: #ffc;
    display: none;
    padding: 0 4px
}

.favorites.off {
    display: none
}

.search .favorites, .posting .favorites {
    display: -moz-inline-stack;
    display: inline-block;
    *display: inline;
    *zoom: 1
}

.search .favorites.off, .posting .favorites.off {
    display: none
}

.menu-button {
    cursor: pointer;
    display: none;
    font-size: 1.5em;
    line-height: .25em;
    width: 1em
}

.account-header {
    background: #eee;
    border-bottom: 2px #ccc solid;
    font-family: sans-serif;
    margin-bottom: 1em;
    padding: 5px 5px 0
}

.account-header .tabcontainer {
    margin-top: 10px
}

.mobile .account-header a {
    font-size: 14px
}

#loginWidget {
    border: #ddd solid 1px;
    float: right;
    margin: 0 5px;
    padding: 0 5px;
    white-space: nowrap;
    text-align: right;
    font-size: .8em
}

#loginWidget a {
    line-height: 1.2em;
    text-decoration: none;
    white-space: nowrap
}

#loginWidget p {
    display: inline
}

.mobile #loginWidget {
    background-color: transparent;
    border: 0;
    padding: 0;
    text-align: left;
    width: auto
}

.mobile #loginWidget p {
    line-height: 2;
    margin: 0
}

.mobile #loginWidget p strong {
    display: block;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.mobile #leftbar {
    display: none
}

@media (orientation: landscape) {
    .fav-label, .discards-label {
        display: none
    }

    .breadcrumbs-container .breadcrumbs {
        -webkit-columns: 2;
        -moz-columns: 2;
        columns: 2;
        margin-top: 1px
    }

    .homepage .breadcrumbs-container .breadcrumbs .crumb {
        float: left
    }

    .breadcrumbs-container .breadcrumbs .crumb {
        height: auto;
        line-height: 1.5em
    }

    .breadcrumbs-container .breadcrumbs .section {
        -webkit-column-break-before: always;
        break-before: always
    }

    .interstitial .breadcrumbs-container .breadcrumbs {
        -webkit-columns: 1;
        -moz-columns: 1;
        columns: 1
    }
}

@media only screen and (min-width: 840px) {
    .fav-label, .discards-label {
        display: inline
    }
}

@media only screen and (min-width: 840px) and (orientation: portrait) {
    .breadcrumbs-container .breadcrumbs {
        -webkit-columns: 1;
        -moz-columns: 1;
        columns: 1;
        margin: 0
    }

    .header-logo {
        margin-top: 3px
    }
}

@media only screen and (min-width: 840px) and (orientation: landscape) {
    .breadcrumbs-container .breadcrumbs {
        -webkit-columns: 1;
        -moz-columns: 1;
        columns: 1;
        margin-top: 4px
    }

    .header-logo {
        margin-top: 3px
    }
}

@media only screen and (min-width: 840px) {
    .global-header {
        height: 1.925em
    }

    .search .global-header {
        position: fixed
    }

    .breadcrumbs-container .breadcrumbs .crumb {
        float: left;
        height: auto
    }

    .search .breadcrumbs-container .breadcrumb-arrow {
        display: inline
    }

    .search .breadcrumbs-container li:nth-last-child(2) .breadcrumb-arrow {
        display: none
    }

    .userlinks {
        margin-top: 0
    }

    .userlinks .user {
        float: left;
        margin-right: 5px
    }

    .userlinks .user-favs-discards {
        float: left;
        margin-top: 5px
    }

    .userlinks .user-favs-discards .user {
        border-right: 1px solid #999;
        clear: none
    }

    .mobile .userlinks {
        margin-right: 10%
    }

    .post .posting .global-header {
        position: static
    }

    .user-actions {
        float: right;
        margin-left: 5px;
        margin-top: 5px
    }
}

@media print {
    .userlinks {
        display: none
    }

    .breadcrumbs-container .breadcrumbs .crumb {
        float: left
    }
}

footer {
    background: #eee;
    border-top: 1px solid #ccc;
    bottom: 0;
    left: 0;
    line-height: 1.5em;
    min-height: 1.1em;
    padding: .3em 4em .3em 0;
    position: absolute;
    right: 0;
    text-align: center
}

.desktop footer {
    z-index: 1001;
    bottom: 0
}

.mobile footer {
    padding-right: 5px
}

footer .clfooter li {
    display: inline;
    padding: 0 4px;
    font-size: small
}

footer .clfooter li a {
    text-decoration: none
}

footer .rss {
    position: absolute;
    right: 4px;
    bottom: 4px
}

footer .rss .l {
    background: orange;
    padding: 0px 2px;
    color: white;
    font-weight: bold;
    text-decoration: none
}

footer .clfooter .mobile, .mobile footer .clfooter .desktop {
    display: none
}

.mobile footer .clfooter .mobile {
    display: inline
}

footer .clfooter .rss {
    float: right;
    text-align: right
}

footer .clfooter .rss .l {
    background: orange;
    padding: 0px 2px;
    color: white;
    font-weight: bold
}

.mobile footer .rss {
    display: none
}

.simple footer {
    display: none
}

.simple.footer footer {
    display: block
}

.paginator {
    display: -moz-inline-stack;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    min-width: 310px;
    color: #aaa;
    white-space: nowrap
}

.paginator .resulttotal, .paginator .unfavtotal {
    display: none;
    text-align: center;
    color: #222
}

.show-banished .paginator .resulttotal, .show-banished .paginator .unfavtotal, .map .paginator .resulttotal, .map .paginator .unfavtotal, .fav .paginator .resulttotal, .fav .paginator .unfavtotal {
    display: inline
}

.show-banished .paginator .resulttotal .for-map, .show-banished .paginator .unfavtotal .for-map {
    display: none
}

.map.show-banished .paginator .resulttotal .for-map, .map.show-banished .paginator .unfavtotal .for-map {
    display: inline
}

.paginator .of-total {
    display: none
}

.map .paginator .of-total {
    display: inline
}

.paginator .first {
    width: 30px;
    padding: 0
}

.paginator .prev {
    width: 60px;
    padding: 0
}

.paginator .next {
    width: 60px;
    padding: 0
}

.paginator span.first, .paginator span.prev, .paginator span.next {
    display: none
}

.paginator.firstpage a.first, .paginator.firstpage a.prev {
    display: none
}

.paginator.firstpage span.first, .paginator.firstpage span.prev {
    display: -moz-inline-stack;
    display: inline-block;
    *display: inline;
    *zoom: 1
}

.paginator.lastpage a.next {
    display: none
}

.paginator.lastpage span.next {
    display: -moz-inline-stack;
    display: inline-block;
    *display: inline;
    *zoom: 1
}

.paginator .pagenum {
    color: #222;
    white-space: nowrap;
    width: 140px;
    padding: 0
}

.my-banished .paginator .buttons, .map .paginator .buttons {
    display: none
}

.paginator .banish-out-of {
    display: none
}

.fav .paginator {
    border-color: #ffd508
}

.fav.my-banished .paginator, .show-banished .paginator {
    border-color: #ccc
}

.clear-all-banished {
    font-size: 13.3px;
    display: none
}

.has-banished .clear-all-banished {
    display: inline
}

.show-banished .displaycountShow {
    display: none
}

.geolocate-container {
    display: inline-block
}

.geolocate-label {
    font-size: .8125em;
    font-weight: 700
}

.geolocate {
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid #ccc;
    padding: 4px 5px 2px
}

.geolocate-button {
    background-color: #fff;
    border-radius: 2px;
    border: 1px solid #ccc;
    color: #333;
    cursor: pointer;
    font-family: "Arial", sans-serif;
    font-size: 1em;
    font-weight: bold;
    line-height: 1;
    padding: 4px 3px 3px;
    position: relative;
    top: 3px
}

.geolocate-icon {
    background-position: 0 -192px
}

.jsonform-bool label {
    cursor: pointer
}

.jsonform-multi-select .title {
    cursor: pointer
}

.jsonform-multi-select .title .plus {
    display: none
}

.hide-list.jsonform-multi-select .title .plus {
    display: inline
}

.hide-list.jsonform-multi-select .title .minus {
    display: none
}

.jsonform-multi-select .selectall {
    cursor: pointer;
    padding-left: .2em;
    list-style: none
}

.jsonform-multi-select .selectall .none {
    display: none
}

.jsonform-multi-select .selectall.selected .all {
    display: none
}

.jsonform-multi-select .selectall.selected .none {
    display: inline
}

.jsonform-multi-select ul {
    font-size: 1em;
    margin-left: 10px
}

.jsonform-multi-select ul li {
    margin-bottom: .1em
}

.jsonform-multi-select ul.short-list .checkbox {
    display: none
}

.jsonform-multi-select ul.short-list .checkbox.checked, .jsonform-multi-select ul.short-list .checkbox.initial {
    display: block
}

.jsonform-multi-select ul .moreless .more {
    display: none
}

.jsonform-multi-select ul.short-list .moreless .more {
    display: inline
}

.jsonform-multi-select ul.short-list .moreless .less {
    display: none
}

.hide-list.jsonform-multi-select ul {
    display: none
}

.jsonform-range {
    margin-top: 10px
}

.jsonform-range input {
    width: 4em;
    border: 1px solid #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: 0;
    padding: 2px
}

.jsonform-range input:hover {
    border-color: #999
}

.jsonform-range .max {
    margin-left: 4px
}

.jsonform-range div {
    font-weight: bold;
    font-size: .9em
}

.jsonform-select.segmented {
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    display: inline-block;
    overflow: hidden;
    height: 1.3em
}

.jsonform-select.segmented button:first-child {
    border-left: 0
}

.jsonform-select.segmented button {
    border-left: 1px solid #e0e0e0;
    cursor: pointer;
    padding: 0 5px 3px 5px;
    display: inline-block;
    font-size: .9em;
    line-height: 1.5em;
    verticle-align: top;
    border: 0;
    background-color: #fff
}

.jsonform-select.segmented button.sel {
    background-color: #5252ff;
    color: #fff
}

.lightbox #lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    z-index: 999999999
}

.lbbg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=@percent)";
    filter: alpha(opacity=50);
    opacity: .5;
    display: none
}

.lightbox .lbbg {
    display: block
}

.lbframe {
    position: absolute;
    z-index: 1;
    background-color: white;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 10px 1px black;
    -moz-box-shadow: 0 0 10px 1px black;
    box-shadow: 0 0 10px 1px black;
    margin: auto;
    display: none
}

.lightbox .lbframe {
    display: block
}

.lbclose {
    position: absolute;
    z-index: 1000;
    top: -13px;
    right: -13px;
    padding: 3px;
    text-align: center;
    width: 1em;
    height: 1em;
    font-size: 1em;
    line-height: 1em;
    color: #fafafa;
    text-decoration: none;
    cursor: pointer;
    background-color: black;
    border: solid 2px white;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px
}

.lbcontent {
    overflow: auto
}

.captcha-form {
    padding-left: 5px;
    padding-top: 5px;
    overflow: hidden;
    background: #fff url(/images/animated-spinny.gif) no-repeat center;
    min-width: 100px;
    min-height: 100px
}

.mobile-discards, .mobile-favorites {
    float: right;
    line-height: 25px;
    margin: 5px 0 0 5px;
    z-index: 10
}

.mobile-discards, .discards {
    display: none
}

.mobile.has-banished .mobile-discards, .mobile.has-banished .discards {
    display: block
}

.fav .mobile-discards, .fav .discards {
    display: none
}

.tabcontainer {
    font-size: smaller;
    overflow: hidden;
    height: 24px;
    position: relative;
    top: 6px;
    width: 100%
}

.tabcontainer b, .tabcontainer a {
    padding: 3px;
    -webkit-border-radius: .7em .7em 0 0;
    -moz-border-radius: .7em .7em 0 0;
    border-radius: .7em .7em 0 0;
    border: 2px #ccc solid;
    white-space: nowrap;
    margin: auto 2px;
    height: 25px
}

:root .tabcontainer b, :root .tabcontainer a {
    line-height: 25px
}

.tabcontainer b {
    background: white;
    border-bottom: 2px white solid;
    font-weight: normal
}

.tabcontainer a {
    text-decoration: none;
    border-bottom-style: none
}

.tabcontainer a:hover {
    background: #f7f7f7
}

.tabcontainer .count {
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    color: white;
    background: #666;
    border: 1px solid #333;
    font-size: 10px;
    padding: 1px
}

.tsb {
    border: 1px solid #eee;
    padding: 5px 8px;
    font-size: small
}

.tsb em {
    font-weight: normal
}

.tsb ul {
    margin-left: 20px;
    list-style-type: disc
}

.tsb ul li {
    line-height: 1.5em
}

.swipe {
    overflow: hidden;
    position: relative;
    text-align: center
}

.swipe img {
    margin: auto;
    max-width: 100%;
    max-height: 100%
}

.swipe .swipe-wrap {
    height: 100%;
    overflow: hidden;
    position: relative
}

.swipe .swipe-wrap > div {
    float: left;
    position: relative;
    overflow: hidden
}

.gallery {
    position: relative;
    text-align: center;
    top: 0;
    left: 0;
    width: 100%
}

.gallery .arrow, .gallery .slider-info {
    text-align: center;
    background-color: #FFF
}

.gallery .arrow {
    display: none;
    position: absolute;
    cursor: pointer;
    font-size: 2em;
    line-height: 2.5em;
    top: 2.5em;
    width: .7em;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    color: #666;
    z-index: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=@percent)";
    filter: alpha(opacity=60);
    opacity: .6
}

.gallery .arrow:hover {
    opacity: 1
}

.gallery .arrow.slider-back {
    left: 0;
    padding-right: .1em;
    border-top-right-radius: 2.5em;
    border-bottom-right-radius: 2.5em;
    border-right: 1px solid #ddd
}

.gallery .arrow.slider-forward {
    right: 0;
    padding-left: .1em;
    border-top-left-radius: 2.5em;
    border-bottom-left-radius: 2.5em;
    border-left: 1px solid #ddd
}

.gallery .slider-info {
    width: 100%
}

.no-touchCapable .gallery:hover .arrow, .no-touchCapable .gallery:hover .slider-info {
    display: block
}

.touchCapable .gallery .slider-info {
    display: block
}

sup.neu {
    font-weight: bold;
    color: orange;
    margin-left: .5em
}

#map {
    position: relative
}

#map .close-full-screen-map-mode-button {
    display: none
}

#map.leaflet-fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    z-index: 1004;
    border: none
}

#map.leaflet-fullscreen .close-full-screen-map-mode-button {
    background-color: #666;
    color: #fff;
    cursor: pointer;
    display: block;
    height: 2.4em;
    font-size: 1.4em;
    line-height: 2.333em;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=@percent)";
    filter: alpha(opacity=75);
    opacity: .75;
    padding: 0 .5em;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: auto;
    z-index: 1005
}

.mobile #map.leaflet-fullscreen {
    margin-top: 0;
    top: 0
}

time.timeago {
    font-size: 80%
}

#april_fools {
    width: 90%
}

#april_fools p {
    margin-bottom: 16px
}

#april_fools th {
    text-align: right;
    font-weight: normal;
    white-space: nowrap
}

#april_fools td {
    vertical-align: top
}

#april_fools td#left {
    white-space: nowrap
}

#april_fools td#left ol {
    margin: inherit;
    padding-left: 40px
}

#april_fools td#right {
    padding-left: 5%;
    padding-top: 2em
}

#april_fools td#right ul > li > span {
    font-size: smaller;
    color: #00E
}

#april_fools td#right ul > li > span.r {
    color: red
}

#april_fools td#right ul > li > span.g {
    color: green
}

#april_fools li.current {
    color: red
}

#april_fools div.banner {
    width: 100%;
    background: #eee;
    text-align: center
}

#april_fools div.cat {
    position: absolute;
    z-index: 2000;
    top: -24px
}

.account-thanks-panel {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    margin: 32px auto;
    max-width: 620px;
    padding: 12px;
    text-align: center
}

.account-thanks-panel .non-alert-text p {
    margin: 12px 0 0 0
}

.account-thanks-panel .non-alert-text .thanks {
    font-weight: bold
}

.account-thanks-panel .alert {
    margin: 0
}

.sites {
    font-size: 80%;
    min-width: 600px;
    white-space: nowrap
}

.sites #logo {
    font-size: 90px;
    line-height: 90px;
    color: #551A8B;
    text-align: center;
    font-weight: 500;
    font-family: "Times New Roman", Times, serif;
    font-stretch: expanded;
    width: 100%;
    margin: 0 auto;
    background-color: white;
    border: 0
}

.sites #logo sup {
    font-size: 20%
}

.sites .colmask {
    overflow: hidden
}

.sites .box {
    padding: 0px 5px 1em;
    overflow: hidden;
    float: left;
    width: 23%
}

.sites a {
    text-decoration: none
}

.sites .colmask a {
    display: block
}

.sites .colmask a:hover {
    text-decoration: underline;
    background-color: #eee
}

.sites h1 {
    border-bottom: 1px solid #ccc;
    font-family: "Times New Roman", Times, serif;
    font-size: 31px;
    line-height: 31px;
    margin: .67em auto
}

.sites h4 {
    text-align: left;
    padding: 1px 0;
    margin: 1em 0
}

.sites .box ul {
    padding: 0 0 1em 40px;
    border-bottom: 1px solid #ccc
}

.sites .jump_to_continents {
    margin: 10px auto;
    padding: 10px 0;
    text-align: center
}

.sites .jump_to_continents a {
    margin: 0 15px 0 0;
    font-size: 14px
}

.sites #map {
    width: inherit;
    height: 410px;
    margin: 0 auto
}

.sites .marker-cluster {
    background-color: rgba(128, 128, 128, 0.2)
}

.sites .marker-cluster > div {
    margin-left: 0;
    margin-top: 0
}

.sites .marker-cluster-small {
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    max-height: 32px;
    max-width: 32px
}

.sites .marker-cluster-small > div {
    border: 1px solid #6ECC39;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    border-radius: 14px;
    height: 28px;
    width: 28px
}

.sites .marker-cluster-small > div:hover {
    background-color: #6ECC39
}

.sites .marker-cluster-medium {
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    border-radius: 17px;
    max-height: 34px;
    max-width: 34px
}

.sites .marker-cluster-medium > div {
    border: 1px solid #F0C20C;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    height: 30px;
    width: 30px
}

.sites .marker-cluster-medium > div:hover {
    background-color: #F0C20C
}

.sites .marker-cluster-large {
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
    max-height: 36px;
    max-width: 36px
}

.sites .marker-cluster-large > div {
    border: 1px solid #F18017;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    height: 32px;
    width: 32px
}

.sites .marker-cluster-large > div:hover {
    background-color: #F18017
}

.sites.mobile {
    min-width: 0
}

.sites.mobile .colmask {
    width: 100%;
    left: 0;
    float: none;
    display: none
}

.sites.mobile .colmask .box {
    width: 100%;
    margin: 0;
    padding: 0;
    float: none;
    overflow: visible
}

.sites.mobile .colmask .box ul {
    display: none;
    border-bottom: 0;
    padding: 0 6em 0
}

.sites.mobile .jump_to_continents {
    display: none
}

.sites.mobile .body ul li {
    line-height: 2em
}

.sites.mobile .body ul li > a {
    display: block;
    font-size: 16px
}

.sites.mobile #logo {
    font-size: 24px;
    line-height: 24px;
    background: #eee;
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px
}

.sites.mobile #map {
    margin-bottom: 1em;
    width: 100%;
    height: 200px
}

.sites.mobile h1, .sites.mobile h4 {
    cursor: pointer;
    background: #eee;
    padding: 2px 1em;
    border: 1px solid #ddd;
    border-left: 0;
    border-right: 0;
    font-size: 20px;
    line-height: 30px;
    white-space: nowrap;
    overflow: hidden;
    margin: 2px 0
}

.sites.mobile h4 {
    font-size: 16px;
    line-height: 24px;
    margin-left: 2em
}

#mapprob {
    display: none;
    background: #eeeeee;
    border: 1px solid #ccc;
    padding: 10px
}

#mapprob #specific {
    width: 98%
}

.ui-autocomplete {
    min-width: 150px;
    max-width: 700px;
    z-index: 1003 !important
}

.ui-autocomplete li {
    clear: both
}

.ui-autocomplete .remove {
    border: 1px solid transparent;
    color: #666;
    cursor: pointer;
    float: right;
    display: block;
    font-size: 1em;
    line-height: .7em;
    height: .6em;
    width: .6em;
    text-align: center;
    margin-left: .5em;
    padding: .25em;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    border-radius: 1em
}

.ui-autocomplete .remove:hover {
    border-color: #ccc;
    background-color: #fefefe
}

.ui-autocomplete.ui-menu .ui-menu-item {
    padding: 3px 3px 3px .4em
}

.ui-autocomplete.ui-menu .ui-menu-divider {
    margin: 5px
}

.ui-autocomplete.ui-menu .ui-menu-divider .ui-autocomplete-divider {
    color: #efefef;
    background-color: #efefef;
    height: 1px
}

.mobile .ui-autocomplete {
    max-width: 320px
}

.mobile .ui-autocomplete .remove {
    border: 1px solid #ccc;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px
}

.mobile .ui-autocomplete li:nth-child(even) {
    background: #ededed
}

.mobile .ui-autocomplete.ui-menu .ui-menu-item {
    padding: 5px 0
}

.cl-marker-icon {
    background-color: hsla(249, 100%, 85%, 0.6);
    border: 1px solid hsla(249, 100%, 80%, 0.6)
}

.cl-marker-icon:hover, .cl-marker-icon-visited {
    background-color: hsla(300, 69%, 83%, 0.6);
    border: 1px solid hsla(300, 69%, 78%, 0.6)
}

.cl-marker-icon, .cl-marker-icon-visited {
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    text-align: center
}

.cl-marker-icon .fav, .cl-marker-icon-visited .fav, .cl-marker-icon .fav:hover, .cl-marker-icon-visited .fav:hover {
    background-color: #ffd700;
    border-color: #daa520
}

.cl-marker-icon.banished, .cl-marker-icon-visited.banished {
    display: none
}

.show-banished .cl-marker-icon.banished, .show-banished .cl-marker-icon-visited.banished, .fav .cl-marker-icon.banished, .fav .cl-marker-icon-visited.banished {
    display: block;
    border-color: #a00;
    color: #888
}

#map.map-frozen:hover {
    cursor: pointer
}

#map.map-frozen .cl-marker-icon:hover {
    background-color: hsla(249, 100%, 85%, 0.6);
    border: 1px solid hsla(249, 100%, 80%, 0.6)
}

.account .tabcontainer {
    font-size: smaller;
    position: relative;
    top: 2px;
    height: 24px;
    overflow: visible
}

.account .signup {
    font-family: "Times New Roman", Times, serif
}

.account .signup h3 {
    font-size: 1.25em;
    font-weight: bold;
    margin: 1em 0
}

.account .signupform #emailAddress {
    width: 20em
}

.account .accountsettings {
    font-family: "Times New Roman", Times, serif;
    margin-left: 3%
}

.account .accountsettings form {
    display: inline
}

.account .accountsettings .settings_table {
    border-spacing: 2px;
    border-collapse: separate
}

.account .accountsettings .setting_name {
    background-color: #eee;
    border: 1px solid #ccc;
    text-align: right;
    font-weight: bold;
    padding: 6px 4px 6px 6px
}

.account .accountsettings .setting_value {
    padding-left: 8px
}

.account .label, .account .field {
    padding: 5px 3px;
    margin-bottom: 3px
}

.account label {
    cursor: pointer
}

.account .label {
    background-color: #eee;
    border: 1px solid #ccc;
    text-align: right;
    font-weight: bold;
    max-width: 12em;
    display: -moz-inline-stack;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top
}

.account.mobile .label {
    display: block
}

.account .accountsettings .hidden, .hidden {
    display: none
}

.account .accountsettings .change {
    font-size: smaller
}

.account .accountsettings .label {
    vertical-align: middle
}

.account .postinglist_title {
    *float: left
}

.account .new_posting_thing {
    float: right;
    margin-top: 1em
}

.account.mobile .new_posting_thing {
    float: none;
    display: block
}

.account #paginator {
    clear: both
}

.mobile.account table.accthp_postings tr.headers {
    display: none
}

.account table.accthp_postings .sorter-false .tablesorter-header-inner {
    padding-right: 0
}

.account table.accthp_postings td {
    vertical-align: middle;
    white-space: nowrap
}

.account table.accthp_postings td .regular {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-content: space-between;
    -ms-align-content: space-between;
    align-content: space-between;
    line-height: 1.5
}

.account table.accthp_postings td form {
    text-align: left;
    width: 50px
}

.account table.accthp_postings td form:last-child {
    width: 30px
}

.account table.accthp_postings td.active {
    background: #dfd
}

.account table.accthp_postings td.active.status {
    background: lightgreen
}

.account table.accthp_postings td.deleted {
    background: #eef
}

.account table.accthp_postings td.deleted.status {
    background: lightblue
}

.account table.accthp_postings td.removed {
    background: #fed
}

.account table.accthp_postings td.removed.status {
    background: pink
}

.account table.accthp_postings td.expired {
    background: #fef
}

.account table.accthp_postings td.expired.status {
    background: lightgrey
}

.account table.accthp_postings td.pending {
    background: #eee
}

.account table.accthp_postings td.posteddate {
    text-align: center
}

.account table.accthp_postings td.posteddate .repost {
    width: 100%;
    text-align: center
}

.account table.accthp_postings td .delete-confirm {
    display: none;
    text-align: center
}

.account table.accthp_postings td .delete-confirm .delete {
    float: right;
    line-height: 1;
    text-align: right
}

.account table.accthp_postings td .delete-confirm .decline {
    float: left
}

.account table.accthp_postings td.confirm {
    background-color: #ffcc80
}

.account table.accthp_postings td.confirm .regular {
    display: none
}

.account table.accthp_postings td.confirm .delete-confirm {
    display: block
}

.account table.editsearch th {
    text-align: right;
    padding: 14px 8px 0 0
}

.account table.editsearch td.ss-save-btn {
    padding-top: 24px
}

.account .push_promo td {
    padding-top: 4px
}

.account .disabled {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=@percent)";
    filter: alpha(opacity=50);
    opacity: .5
}

.account blockquote {
    margin: 8px
}

.account #ef {
    float: right
}

.account .managebtn {
    color: #00f;
    padding: 0px;
    font-size: 12px;
    background: none;
    border: none;
    text-decoration: underline;
    cursor: pointer
}

.account .filterbtn {
    color: #00f;
    padding: 0px;
    font-size: 16px;
    background: none;
    border: none;
    text-decoration: underline;
    cursor: pointer
}

.account .filtertxt {
    font-size: 16px
}

.account.mobile {
    margin: 0
}

.account.mobile blockquote {
    display: none
}

.account.mobile fieldset {
    border: 0;
    margin: 0 auto 1em
}

.account.mobile #floater {
    display: none
}

.account.mobile fieldset > legend {
    font-size: 10px
}

.account.mobile fieldset > legend > a {
    font-size: 14px
}

.account.mobile #searchfieldset {
    background: white
}

.account #searchtable {
    margin: .333em
}

.account #searchtable td {
    padding: 6px
}

.account.mobile #searchtable {
    background: #eee;
    border: 1px solid #ccc
}

.account.mobile #searchtable td {
    padding: 3px
}

.account.mobile table {
    width: 100%
}

.account.mobile .postingrow {
    *zoom: 1;
    clear: both;
    margin: 0;
    border-left: 0;
    border-right: 0;
    margin-bottom: 4px
}

.account.mobile .postingrow:before, .account.mobile .postingrow:after {
    content: " ";
    display: table;
    visibility: hidden
}

.account.mobile .postingrow:after {
    clear: both
}

.account.mobile .postingrow a {
    font-size: 1em
}

.account.mobile .postingrow form {
    float: left;
    margin: 5px 0;
    padding: 0 6px 2px
}

.account.mobile .postingrow .gc {
    float: left;
    margin: 8px 0;
    padding: 0 6px 2px
}

.saved-searches-alert {
    margin: 0 0 20px 0
}

.saved-search-delete {
    display: -moz-inline-stack;
    display: inline-block;
    *display: inline;
    *zoom: 1
}

.account fieldset.homepage_label {
    background: #fff;
    padding: 20px
}

.account table#draftslist tr {
    background: #fed
}

.account table#draftslist tr td {
    border: 1px solid pink
}

.account table#draftslist tr td:nth-child(1) {
    background: pink
}

.ss-cancel-link {
    font-size: 16px
}

td.ss-save-btn {
    text-align: right
}

td.ss-save-btn button {
    font-size: 16px
}

.property_date {
    display: inline
}

.attr_is_today {
    background-color: #9FECA1 !important
}

.personals_attrbubble {
    font-size: .8em !important
}

.personals_informational {
    background-color: #EEE !important;
    color: #444 !important
}

.personals_physical {
    background-color: #FFF8F0 !important
}

.personals_intrinsic {
    background-color: #FFFFF0 !important
}

.personals_situational {
    background-color: #F8FFF8 !important
}

.personals_preferences {
    background-color: #F0F8FF !important
}

.personals_freeform {
    font-family: "Times New Roman", Times, serif;
    background-color: #FFF !important;
    font-style: bold !important
}

.mobile .leaflet-tile-container img {
    -webkit-backface-visibility: hidden
}

#msgContainer {
    position: absolute;
    left: 1em;
    top: 3em;
    width: 300px;
    z-index: 100
}

.msgBox {
    -webkit-box-shadow: 3px 3px 4px 3px #222;
    -moz-box-shadow: 3px 3px 4px 3px #222;
    box-shadow: 3px 3px 4px 3px #222;
    font-size: smaller;
    float: left;
    min-width: 295px;
    margin: 10px 0;
    padding: 5px;
    display: none;
    border-width: 2px !important
}

.msgBox a.closebox {
    display: -moz-inline-stack;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    float: right;
    position: relative;
    top: -15px;
    right: -15px;
    background: #f88;
    height: 15px;
    width: 15px;
    line-height: 15px;
    font-size: 15px;
    border: 1px solid #f44;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    text-align: center
}

.msgBox a.closebox:hover {
    background: #f44
}

.msgBox.error {
    background: #FFF;
    font-family: "Arial", sans-serif;
    padding: 5px;
    border-color: #fbb
}

.msgBox.message {
    background: #FFF;
    font-family: "Arial", sans-serif;
    padding: 5px
}

.fav.my-banished.grid .result-row.banished {
    display: -moz-inline-stack;
    display: inline-block;
    *display: inline;
    *zoom: 1
}

.fav.my-banished .unbanish {
    font-size: small
}

.fav.my-banished .result-row.banished {
    display: block
}

.fav.my-banished .content .icon-star, .fav.my-banished .favheader {
    display: none
}

.banish {
    display: -moz-inline-stack;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    cursor: pointer
}

.banished .banish {
    display: none
}

.unbanish {
    cursor: pointer;
    display: none
}

.banished .unbanish {
    display: -moz-inline-stack;
    display: inline-block;
    *display: inline;
    *zoom: 1
}

#adminWrapper {
    background: #dfd;
    font-family: sans-serif;
    padding: 4px;
    margin: 4px;
    border: solid 2px green
}

#adminWrapper #searchBar {
    width: 100%;
    margin-top: 3px;
    padding-top: 3px;
    border-top: 1px solid green;
    font-size: small
}

#adminWrapper span {
    border-right: 1px solid green;
    padding: 4px 10px
}

#adminWrapper span a {
    padding: 0;
    text-decoration: none
}

#adminWrapper span a:hover {
    background: #afa
}

#adminWrapper span a small {
    font-size: xx-small
}

#adminWrapper span.wide a {
    padding: 0 .5em
}

.post #priceCalc, .post #priceCalc2 {
    color: green;
    font-size: 1.2em;
    font-weight: bold
}

#calban {
    margin: 2px;
    font-weight: bold;
    text-align: center
}

.cal {
    background: #ccc;
    text-align: center
}

.cal a {
    padding: 1px !important
}

.cal a:hover {
    background: transparent !important
}

.cal td {
    background: white;
    padding: 2px
}

.cal td:hover {
    background: #eee
}

.cal td.today {
    background: #ffc
}

.cal td.searched {
    background: #ddf
}

.cal .dys th {
    font-weight: bold;
    color: #555
}

.cal .dys th, .cal td {
    border: 1px #ccc solid
}

.mobile #calban {
    font-weight: normal;
    text-align: left
}

.mobile #calban a:hover {
    background: transparent !important
}

.mobile .cal {
    display: none;
    width: 90%;
    margin: 20px auto 0 auto
}

.mobile .cal td {
    width: 4em;
    height: 1.5em;
    line-height: 1.5em
}

.mobile .cal.active-cal {
    display: block;
    height: 140px
}

.tryapp {
    display: none
}

.homepage.mobile .tryapp, .account.mobile .tryapp {
    display: inherit;
    padding: .5em;
    background-color: #b0e;
    color: #fff
}

.homepage.mobile .tryapp a, .account.mobile .tryapp a {
    text-decoration: none
}

.homepage.mobile .tryapp .appstorebtn, .account.mobile .tryapp .appstorebtn {
    margin-left: 1em;
    background-color: white;
    border-radius: .2em;
    padding: .2em;
    padding-top: .1em;
    padding-bottom: .1em
}

@media print {
    .tsb {
        display: none
    }
}

/* {"sources":{"cl.less":"f5776d93462afef1109e8a95908cd8e3"}} */
